/* RESET */
* {
    box-sizing: border-box;
}

/* HTML + BODY MUSZĄ MIEĆ PEŁNĄ WYSOKOŚĆ */
html, body {
    height: 100%;
}

/* BODY */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.auth-container {
    background: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}





/* HEADER */
.app-header {
    background-color: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* CAŁA STRONA POD HEADEREM */
.app-main {
    display: grid;
    grid-template-columns: 360px 1fr;
    height: calc(100vh - 80px);
}

/* LEWY PANEL – NA CAŁĄ WYSOKOŚĆ */
.controls {
    background-color: #ffffff;
    padding: 30px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

/* FORMULARZ */
.form-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
    display: block;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* PRZYCISK NA DOLE PANELU */
button {
    margin-top: auto;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* FLASH MESSAGES */
.flash-messages {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.alert-incorrect {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* PRAWA STRONA – WYKRES NA CAŁĄ PRZESTRZEŃ */
.chart-area {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OBRAZ WYKRESU – MAKSYMALNY ROZMIAR */
.chart-area img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* TEKST ZASTĘPCZY */
.placeholder {
    font-size: 18px;
    color: #666;
}
select[multiple] {
    min-height: 500px;
}

